doctype html
html
	head
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Dr. Martens Filmmaker Series

		style.
			html { box-sizing: border-box; font-size: 16px; } 
			*, *:before, *:after { box-sizing: border-box; text-decoration: none; } 
			body, h1, h2, h3, h4, h5, h6, p, ol, ul { margin: 0; padding: 0; font-weight: normal; } 
			ol, ul { list-style: none; } 
			@font-face { 
				font-family: "Trade Gothic Bold"; 
				src: url("/TradeGothicLTComBdCn20.woff") format("woff");
			} 
			@font-face {
				font-family: "Interstate Reg";
				src: url("/Interstate-Regular.woff") format("woff");
			} 
			.footer-top {
				margin-top: 60px;
			}
			@media screen and (max-width: 768px) {
				.footer-top {
					margin-top: 90px;
				}
			}
			@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Overpass&display=swap');

	body.dm-main 
		div(style="background:#191b1d;height:35px;")
		div(style="background:#000 url('https://www.drmartens.com/_ui/responsive/theme-dm/images/drm-logo-mobile.svg');background-size:80px 57px;background-position:center;background-repeat:no-repeat;height:79px;")

		block content

		div.footer-top(style="background:#191b1d;height:107px;")
		div(style="background:#24272a;height:414px;")
		div(style="background:#191b1d;height:60px;") 



