<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
	<title>Dr Martens Filmmaker Series</title>

	<!-- IMPORTANT: This typekit link is AJ Austinson's personal typekit. Please don't use in production -->
	<link rel="stylesheet" href="https://use.typekit.net/qxj7cps.css">

	<style type="text/css">
		html { box-sizing: border-box; font-size: 16px; } 
		*, *:before, *:after { box-sizing: border-box; text-decoration: none; } 
		body, h1, h2, h3, h4, h5, h6, p, ol, ul { margin: 0; padding: 0; font-weight: normal; } 
		ol, ul { list-style: none; } 
		img { max-width: 100%; height: auto; }
		{{&style}} 
	</style>
	</head>

	<body class="dm-main">
		<div style="background:#191b1d;height:35px;"></div>
		<div style="background:#000 url('https://www.drmartens.com/_ui/responsive/theme-dm/images/drm-logo-mobile.svg');background-size:80px 57px;background-position:center;background-repeat:no-repeat;height:79px;"></div>
		<div style="background:#efefef;height:36px;"></div> 
		{{&content}}
		<script type="text/javascript">{{&script}}</script> 
		<div style="background:#191b1d;height:107px;"></div> 
		<div style="background:#24272a;height:414px;"></div> 
		<div style="background:#191b1d;height:60px;"></div> 
	</body>
</html>