extends episode.pug

block header
	+episodeHeaderVideo("BlimesNGab/blimesNGabTeaser", "492260661", "BlimesNGabVideo")
	+episodeDetails("7", "Blimes & Gab", "Blimes & Gab blended their unique styles to create Talk About It. Now, they're braving the highs and lows of releasing an album mid-pandemic.")

block content
	p.fm-episode-text Dynamic MC duo Blimes &amp; Gab burst onto the scene with their first single "Come Correct." The single's music video quickly went viral, with over 10M+ views. Each with their own acclaimed solo career, Blimes (from San Francisco) and Gab (from Seattle) show their potency as a pair while tossing bars back and forth, creating a dynamic and unique sound. With their fun, powerful music, the two rappers have been making waves with their Blimes &amp; Gab debut album <em>Talk About It</em>, released in June of 2020.
		cite Photos by Emma Cole

	+bigImage("BlimesNGab/collage1")

	p.fm-episode-quote &ldquo;Our work together as Blimes and Gab hones in on sisterhood, often referencing the battles we've fought together and stands tall with the confidence of both our insane pens combined.&rdquo;

	+bigImage("BlimesNGab/collage2")

	+heroVideo("BlimesNGab/blimesNGabCollage", "768") 

	p.fm-episode-quote &ldquo;I'm grateful to stay busy in this pandemic, but honestly the inspo has came from real life. The people I meet, places I go, and things I see and overhear inspire me the most!&rdquo;

	+bigImage("BlimesNGab/collage3")