extends event.pug

block header
	+eventHeaderVideo("https://dm-us-imgs.s3.us-west-2.amazonaws.com/AW21/L/DMPresents/S3E2/la_event_01_teaser_1920x1080.mp4", "https://www.youtube.com/embed/JyEShxW5VNE", "Latin Heritage Event Recap")

block content
	+eventDescription("For our first Dr. Martens Presents Tour stop in L.A., folx filled every corner of Dr. Martens Silverlake. Doris Anahí’s voice filled the room and carried out into the streets. She spoke about her family’s love of music and her uncle joined her in a song that had everyone singing along with tears in their eyes.", "We dried our eyes as Reyna Tropical took the stage and brought the bounce back to the room! Reyna Tropical continues to offer joyful reflection and rhythms even after the loss of bandmate Sumo who passed earlier this year. In his honor, his family members wore shirts bearing his name and the message Proxima Estacion Esperanza. At the end of the night the crowd lingered for another drink, another hug, another moment together.")
	
	+eventQuote("&rdquo; I see roots as much as I see newness and new culture &rdquo;", "— Fabi, Reyna Tropical","")

	+bigImageOneSize("S3E2/la_event_01_01", "A collage made up of photos of several black artists with the quote: \"House music is black and always has been\" by DJ AQ", "s3v2")


	+bigImageOneSize("S3E2/la_event_01_02", "A large collage featuring photos of various artists of color, their instruments, and docs.", "s3v2")

	+heroVideo("S2E1/collageVideo", "768", "s3v3")

	p.fm-episode-quote &ldquo;That to me was the best thing about it. Everybody came together under one roof with the focus of coming together to dance and release.&rdquo;
		cite &mdash; Oveous, DJ / Poet / Producer

	+bigImageOneSize("S2E1/collage3", "A collage of many artists featuring several operating turntables and other DJ performance gear.", "s3v2")
