extends episode.pug

block header
	+episodeHeaderVideo("S2E3/teaser", "644008016", "S2E4", "s3v2")
	+episodeDetails("2", "4", "DIY - NYC", "NYC's DIY Punk Scene is entering a new era. Creator Jeanette D. Moses explores the genre's roots and looks to its progressively diverse future.")

block content
	p.fm-episode-text Director Jeanette D. Moses interviews NYC DIY Scene heavy hitters to explore the sanctity of DIY spaces, illuminate the genre's roots, look to its progressively diverse future, and uncover the DIY scene’s through line: community.
		cite Photos by Emma Cole

	+heroVideo("S2E4/collageVideo", "768", "s3v2")

	+bigImageOneSize("S2E4/collage1", "Photo of a man at a punk show dancing to the music, with the words Crowded, Jam-Packed, Sweaty", "s3v2")

	p.fm-episode-quote &ldquo;People tend to take care of one another in the DIY scene.&rdquo;
		cite &mdash; Edwina Hay

	+bigImageOneSize("S2E3/collage2", "Collage of photos focusing on the bands featured in the video and photos of the crowd at shows", "s3v2")

	p.fm-episode-quote &ldquo;You really get people who want to make a community better and share something great.&rdquo;
		cite &mdash; Oliver Ackerman

	+bigImageOneSize("S2E3/collage3", "Collage of photos featuring footwear and graffiti with the band THICK.", "s3v2")
