extends episode.pug

block header
	+episodeHeaderVideo("Gabe/gabrielTeaser", "465946765", "GabrielVideo")
	+episodeDetails("1", "2", "Gabriel Gomez", "NY Filmmaker Gabriel Gomez uses these unprecedented times to hone in on what matters to him and the musicians in his community.")

block content
	p.fm-episode-text Brooklyn-native Gabriel Gomez is a director, producer, entrepreneur, and founder of Crooked Letter, a creative production company. Through his work, Gabe has formed a creative community that allows him to focus on his many passions: filmmaking, managing artists, podcasting, and more. Now, Gabe is connecting with his community to highlight musicians' stories of resilience in 2020 for the Dr. Martens Presents: Filmmaker Series.
		cite Photos by Alice Plati

	+bigImage("Gabe/gabeCollage1", "Gabe standing with his foot on his skateboard with the text \"Just being alive is bringing me joy because that's a privilege in and of itself.\"")

	p.fm-episode-quote &ldquo;These past 6 months have really acted as a filter for a lot of what's unnecessary and unhelpful—the world's on fire and I have the privilege of making art for a living. I'm the luckiest boy in the world.&rdquo;

	+bigImage("Gabe/collage2", "A collage of Gabe. Showing off his Docs, sitting in a leather chair, and a photobooth reel of him sticking his tongue out in a humorous gesture.") 

	+heroVideo("Gabe/gabrielCollage", "768")

	p.fm-episode-quote &ldquo;...when we park the excessive vanity, we can communicate important messages & shed light on issues that matter to our communities.&rdquo; 

	+bigImage("Gabe/gabeCollage3", "A collage of Gabe wearing a mask standing in front of a wall with graffiti. Candid photos of Gabe relaxing in front of a window")
