extends episode.pug

block header
	+episodeHeaderVideo("Frankie/frankieTeaser", "533224665", "FrankieVideo")
	+episodeDetails("14", "Frankie and the Witch Fingers", "Powered by the explosive energy they usually channel onstage, Los Angeles band Frankie and the Witch Fingers uses art to engage their community.")

block content
	p.fm-episode-text Frankie and the Witch Fingers may draw upon a legacy of psychedelic rock, but the music they create is in a league all its own. Destined for the stage, the band played on tour for almost an entire year solid before hammering out their newest album <i>Monsters Eating People Eating Monsters</i> in five days. Their recording process is a reflection of the band itself: mind-bending, blistering, and absolutely a unique experience.
		cite Photos by Emma Cole 

	+bigImage("Frankie/collage1", "Picture of Frankie and the Witch Fingers with the text \"Hearing loud rock music again, everyone is thirsty for that.\"")

	p.fm-episode-quote “We've never released an album without touring behind it, but we've been touched by the positive response from people.”

	+bigImage("Frankie/collage2", "A collage of photos featuring the individual band members with handrawn illustrations as highlights")

	p.fm-episode-quote “Usually recording an album gives us a bunch of material to take out on the road and connect with people face to face, but we've been finding new ways to get that connection.”

	+heroVideo("Frankie/collageVideo", "768") 

	p.fm-episode-quote “As musicians and artists, it's our duty to put into words what other people might not be able to.”

	+bigImage("Frankie/collage3", "Two photos of the band: one facing the camera and one with them walking away. A hand drawn lizard foot illustration included.")
