extends episode.pug

block header
	+episodeHeaderVideo("Tolliver/tolliverTeaser", "479943532", "TolliverVideo")
	+episodeDetails("5", "Tolliver", "Los Angeles artist Tolliver uses his music to reconcile who he is today with his Baptist upbringing and childhood.")

block content
	p.fm-episode-text Los Angeles artist Tolliver uses his music to reconcile who he is today with his Baptist upbringing and childhood.
		cite Photos by Ali Roberto

	+bigImage("Tolliver/collage1")

	p.fm-episode-quote &ldquo;Performing live was my whole thing, so my process has changed a lot. What I've done is channel that energy into videos ... and learning to incorporate music into said videos.&rdquo;

	+bigImage("Tolliver/collage2")

	+heroVideo("Tolliver/tolliverCollage", "768") 

	p.fm-episode-quote &ldquo;I’ll never stop no matter what. We could be 3000 leagues under the sea and I’ll still be texting you the flyer to my show at Bikini Bottom.&rdquo;

	+bigImage("Tolliver/collage3")