extends episode.pug

block header
	+episodeHeaderVideo("S2E2/teaser", "626834542", "S2E2", "s3v2")
	+episodeDetails("2", "2", "Queer Indie - LA", "Multi-talented filmmaker Wes O'Connor asks queer musicians in Los Angeles where they feel most at home to let their creativity and queerness run free.")

block content
	p.fm-episode-text Queer music has always been anchored by a community of artists who forsake societal boundaries. In exchange, artists are granted creative freedom and supportive peers who celebrate their truth. Because of this community, much of the most consequential music of our time is queer music. In this film, Wes O'Connor connects with diverse queer musicians like MUNA, Polartropica, Saturn Risin9 and Rett Madison on Los Angeles' scene and queer spaces.
		cite Photos by Asha Mon&eacute;

	+bigImageOneSize("S2E2/collage1", "Images of musicians performing. A quote by Saturn 9 saying \"I really want all of us queer artists to exist outside of the margins of genre.\"", "s3v2")

	p.fm-episode-quote &ldquo;As you are consuming queerness as a whole, that you are putting action behind it. You the people watching, that you have to be active in supporting us.&rdquo;
		cite &mdash; Saturn Risin9

	+bigImageOneSize("S2E2/collage2", "Collages of artists performing and posing, portrayed with a glitchy 90's aesthetic", "s3v2")

	p.fm-episode-quote &ldquo;Being so accepted by the people here it has really helped me become so much more open, and vulnerable and raw and honest in my lyrics and my music.&rdquo;
		cite &mdash; Rett Madison

	+heroVideo("S2E2/collageVideo", "768", "s3v2")

	p.fm-episode-quote &ldquo;When you have that intention and the people behind it in a big group, it's possible for real change&rdquo;
		cite &mdash; Ihui Cherise Wu, Polartropica

	+bigImageOneSize("S2E2/collage3", "A collage of artists performing, ripped jeans and docs being worn", "s3v2")
