extends episode.pug

block header
	+episodeHeaderVideo("S2E1/teaser", "610205068", "S2E1", "s3v2")
	+episodeDetails("2", "1", "Afro House - NYC", "Filmmaker Chelsea Odufu explores NYC's Afro House scene, where artists promote progressive African sounds and reclaim space for people of color in electronic music.")

block content
	p.fm-episode-text Director and writer, Chelsea Odufu illuminates the foundational African sounds that inform today's popular house music by speaking to Afro House DJs and producers. Inspired to bring diverse cultures together through music, Odufu co-founded an electronic music label that promotes Afrofuturist ideas and concerts around the globe. 

	+bigImageOneSize("S2E1/collage1", "A collage made up of photos of several black artists with the quote: \"House music is black and always has been\" by DJ AQ", "s3v2")

	p.fm-episode-quote &ldquo;Black culture hasn't impacted house music - Black culture created it. Black people are the originators of the sound.&rdquo;
		cite &mdash; Chelsea Odufu, Film Director / Creator

	+bigImageOneSize("S2E1/collage2", "A large collage featuring photos of various artists of color, their instruments, and docs.", "s3v2")

	+heroVideo("S2E1/collageVideo", "768", "s3v2")

	p.fm-episode-quote &ldquo;That to me was the best thing about it. Everybody came together under one roof with the focus of coming together to dance and release.&rdquo;
		cite &mdash; Oveous, DJ / Poet / Producer

	+bigImageOneSize("S2E1/collage3", "A collage of many artists featuring several operating turntables and other DJ performance gear.", "s3v2")
