extends episode.pug

block header
	+episodeHeaderVideo("SunflowerBean/sunflowerTeaser", "500094391", "SunflowerVideo")
	+episodeDetails("1", "8", "Sunflower Bean", "Lifelong musicians and members of Sunflower Bean are leaning on each other, their music, and the politics of their art to continue creating.")

block content
	p.fm-episode-text Dreamy alt-rock trio Sunflower Bean formed in late 2013 and hit the ground running. Now two albums and countless tours later, the band is an NYC DIY scene success story, even though its members are still in their early twenties. The band continues to defy expectations and forge their own path with their first single of 2020, &ldquo;Moment in the Sun.&rdquo;
		cite Photos by Alice Plati

	+bigImage("SunflowerBean/collage1", "A stylized photo of the trio that appears as if the top has been burnt away. Overlaid are the words \"Let go of everything and listen to yourself.\"")

	p.fm-episode-quote &ldquo;Don't make plans, just make things.&rdquo;

	+bigImage("SunflowerBean/collage2", "A collage of photos depicting the trio playing music and lounging showing of their Docs. Behind the collage the word \"SUN\" repeats.")

	+heroVideo("SunflowerBean/sunflowerCollage", "768") 

	p.fm-episode-quote &ldquo;We can't rely on modern life continuing without crisis. Collective action needs to be taken so that everyone can live a safe dignified life.&rdquo;

	+bigImage("SunflowerBean/collage3", "A collage oof the band posing and playing music, one photo appears to have been burnt away with ash visible. There is a streak of spray-paint along the bottom.")
