include video-mixins

block header

style
	include shared.css
	include home.css
	include episodeList.css

.fm-container
	.fm-hero
		.fm-hero-background
			.fm-hero-video
				video(loop autoplay muted playsinline)
					source(src=`https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/TheRegrettes/regrettesTeaser.mp4` type="video/mp4")
			.fm-hero-fade
			.fm-hero-tear
		
		.fm-hero-content
			.fm-hero-title
				h1 Filmmaker Series
			
			.fm-hero-details
				h2 E11 &bull; The Regrettes 
				a.fm-hero-play(href="/us/en/dm-presents-the-regrettes") Watch Episode
	
	.fm-message
		span The Dr. Martens community is tough. Unique. Adaptable. And undeniably intertwined with the world of music. As our lives shift in unprecedented ways, Dr. Martens Presents is partnering with unique NYC and LA filmmakers to tell the stories of musicians who are not only surviving, but thriving and innovating when met with these extraordinary times.

	include episodeList.pug

script(type="text/javascript")
	include home.js
