include video-mixins

block header

style
	include shared.css
	include home.css
	include episodeList.css

.fm-container
	.fm-hero
		.fm-hero-background
			.fm-hero-video
				video(loop autoplay muted playsinline)
					source(src=`https://dm-us-imgs.s3.amazonaws.com/AW21/L/DMPresents/S2E6/teaser.mp4` type="video/mp4")
			.fm-hero-fade
			.fm-hero-tear
		
		.fm-hero-content
			.fm-hero-title
				h1 Filmmaker Series
			
			.fm-hero-details
				h2 S2 E6 &bull; Alternative Underground - NYC 
				a.fm-hero-play(href="/us/en/dm-presents-alternative-underground-nyc") Watch Episode
	
	.fm-message
		span This year, Dr. Martens Presents explores the evolution of local music communities with six different filmmakers in New York and Los Angeles. Artists, musicians, and die-hard fans show us the scenes they've created; where decades of young talent continue to experiment, inspire, and sharpen their sound.

	include episodeList.pug

script(type="text/javascript")
	include home.js
