extends event.pug

block header
	+eventHeaderVideo("https://dm-us-imgs.s3.us-west-2.amazonaws.com/AW22/DMpresent/S3E5/S3E4_H264_1920X1080.mp4", "https://www.youtube.com/embed/2_chJX1F2sI", "Dr. Martens Presents | LA with Mannequin Pussy and Automatic")

block content
	+eventDescription("For the final shows of 2022, we went west. DJ Dani, Hana Vu and Shamir played a packed house at the DM store in Venice Beach. The bass player hopped on the counter at one point — suffice to say, the vibes were on point. Our next show filled the historic Troubadour venue to capacity. Margaritas Podridas, Automatic and Mannequin Pussy shut the house down — truly a night of unforgettable performances. It was a good day to be in LA.")
	.fm-spacer
	+eventFeature('https://dm-us-imgs.s3.us-west-2.amazonaws.com/AW22/DMpresent/S3E5/Banner%201.jpg', 'Margaritas Podridas performs on stage at the Troubadour, washed in the glow of purple, pink, yellow, and red lights with a large Dr. Martens logo in the background', 'Mannequin Pussy and Automatic', 'at The Troubadour', 'The Troubadour is a north star for many up-and-coming bands and we were proud the have our name on their historic marquee.Margaritas Podridas from Sonora, Mexico shared their witchy, psychedelic sounds and Automatic’s fans were captivated by their post punk new wave. Mannequin Pussy closed out the night with a killer performance. MP front woman Missy Dabice stayed after the set to chat with every last fan.')

	+bigImageOneSize("S3E5/Collage%201", 'A collage begins with a large image of the crowd, pressed together and dancing in the glow of electric green and purple lights while Automatic performs. Below is a black-and-white photo of the band members standing on a staircase just before the show. This image is flanked by another shot of the guitarist playing on stage with her hair whipping around in all directions. At the bottom of the collage is a  full-page image of Mannequin Pussy performing. The lead singer screams into the mic while raising her hand. The scene feels fast-paced and energetic.', "s3v4")

	+eventQuote("&ldquo;It’s a really safe place to scream and art is a really safe place for very difficult emotions.&rdquo;", "— Mannequin Pussy","")
	
	+eventFeature('https://dm-us-imgs.s3.us-west-2.amazonaws.com/AW22/DMpresent/S3E5/Banner%202.jpg', 'Shamir stands tall, smiling, with their arms spread wide. An image to the right shows two xerox style images of someone playing the guitar.', 'DJ Dani, Hana Vu, Shamir', 'at DM Venice store', "The Dr. Martens Presents Tour spent December in sunny Los Angeles. DJ Dani, Hana Vu and Shamir played to a buzzing crowd at the DM store in Venice Beach. The energy was high from the moment DJ Dani started her set and by the time Hana Vu started sharing her soulful voice, the store was packed and the crowd was overflowing onto the sidewalk. It’s safe to say the evening’s vibes continued to ascend.")
	+bigImageOneSize("S3E5/Collage%202", "This collage shows a grainy black-and-white image of Hana Vu standing on an LA sidewalk. The image below shows Hana Vu performing on stage with her band. ", "s3v4")

	+eventQuote("&ldquo;It’s nice to look back at that time, and think about how much better it is that we get to be together.&rdquo;", "— Automatic","")
	+bigImageOneSize("S3E5/Influencer%20Collage", "@josie_francis poses with a big smile in a pair of Dr. Marten boots. She is cut out and placed on top of a bright red image of the Troubadour venue sign.", "s3v4")
	
	+ctaBtn('https://www.drmartens.com/us/en/icons', 'MAKE IT YOURS', 'SHOP ICONS')