extends episode.pug

block header
	+episodeHeaderVideo("Stuyedeyed/stuyedeyedTeaser", "521061885", "StuyedeyedVideo")
	+episodeDetails("12", "Stuyedeyed", "NYC band Stuyedeyed is focusing on what they can control: creating music they believe in, and through that, inciting change")

block content
	p.fm-episode-text Born out of Brooklyn’s Bed-Stuy neighborhood, Stuyedeyed is explosive, charged with unrelenting drive and erratic energy. Singer/guitarist Nelson Antonio Hernandez-Espinal, bassist Humberto Genão, guitarist George Ramirez, and drummers Luis Ruelas and Jhonny Nunez challenge the status quo with calls on listeners to push back against systemic oppression.
		cite Photos by Alice Plati

	+bigImage("Stuyedeyed/collage1", "The band Stuyedeyed posing in front of a tagged stairwell outside with text \"This is more than just music.\"")

	p.fm-episode-quote “We each have been the biggest inspirations for each other. We’ve been lucky to keep productive safely during the lockdown.”

	+bigImage("Stuyedeyed/collage2", "A collage of photos of the band playing music, possibly in a basement. Red action lines are featured text: \"stuyedeyed\"")

	p.fm-episode-quote “F*ck a band. It can be whatever we want it to be. No rules. Everyone plays everything. Be musical.” 

	+heroVideo("Stuyedeyed/collageVideo", "768") 

	p.fm-episode-quote “This is more than just music. Music is one component of what we are capable of as a collective.”

	+bigImage("Stuyedeyed/collage3", "A collage of photos with overlays showing the band in both serious and laughing poses.")
