extends episode.pug

block header
	+episodeHeaderVideo("Tolliver/tolliverTeaser", "479943532", "TolliverVideo")
	+episodeDetails("1", "5", "Tolliver", "Los Angeles artist Tolliver uses his music to reconcile who he is today with his Baptist upbringing and childhood.")

block content
	p.fm-episode-text Tolliver blends R&amp;B, soul, funk, and hip-hop into an alluring sound that's all him. After getting his musical start in church, Tolliver's music explores the relationship between his identity as a Black bisexual man and his religious upbringing. His new EP, <em>Thin Black Duke</em> grapples with sex, money, hedonism, and self-control&mdash;themes that weave in and out of his unfiltered, raw lyrics.
		cite Photos by Emma Cole

	+bigImage("Tolliver/collage1", "Tolliver posed dramatically in a stairwell showing off his white Docs. Overlaid is the text \"Truth be told I keep going because I don't know how to stop\"")

	p.fm-episode-quote &ldquo;Performing live was my whole thing, so my process has changed a lot. What I've done is channel that energy into videos... and learning to incorporate music into said videos.&rdquo;

	+bigImage("Tolliver/collage2", "A collage of Tolliver in various scenarios depecting his lifestyle and depicting him creating music.")

	+heroVideo("Tolliver/tolliverCollage", "768") 

	p.fm-episode-quote &ldquo;I'll never stop no matter what. We could be 3000 leagues under the sea and I'll still be texting you the flyer to my show at Bikini Bottom.&rdquo;

	+bigImage("Tolliver/collage3", "A collage of Tolliver in various places, including on the street & in a bar wearing a whtie suit and a face-mask.")
