extends episode.pug

block header
	+episodeHeaderVideo("Nez/nezTeaser", "504445827", "NezVideo")
	+episodeDetails("9", "NEZ", "NEZ, Los Angeles-based music artist and producer, focuses on cultivating a creative space where he can express himself in the truest form possible.")

block content
	p.fm-episode-text Artist NEZ has been an unsung hero in the music industry for the past decade, producing songs for the likes of ScHoolboy Q, Chance the Rapper, and many others. But now, NEZ is creating a sound all his own, incorporating soul, house, indie rock, and R&B. Working via video call, he's preparing to release an EP in early 2021, introducing the world to the signature sound of NEZ.
		cite Photos by Emma Cole

	+bigImage("Nez/collage1", "A collage of photos featuring Nez and the quote, Whatever is to come I'll be ready for it. And I'll just take it in stride.")

	p.fm-episode-quote &ldquo;My social life has an affect on my creative process. I find myself creating safe spaces to make music.&rdquo;

	+bigImage("Nez/collage2", "A collage of photos featuring Nez in different poses and outfits on the street and in his studio with friends.")

	+heroVideo("Nez/nezCollage", "768") 

	p.fm-episode-quote &ldquo;I'm trying to balance chasing my dreams but also trying to be a better friend, a better brother, a better person.&rdquo;

	+bigImage("Nez/collage3", "A collage of photos featuring Nez in a restaurant, performing, by a car, and jumping over a fence.")
