extends episode.pug

block header
	+episodeHeaderVideo("LRW/lrwTeaser", "465946765", "LRWVideo")
	+episodeDetails("3", "Lauren Ruth Ward", "Lauren Ruth Ward is a musician, stylist, photographer, and more than the sum of her parts, seeking ways to connect without in-person shows.")

block content
	p.fm-episode-text Rock and roll songstress Lauren Ruth Ward released her album, Vol. II, right as the US went into lockdown in March. But that hasn’t stopped Ward from cultivating community, made of fans and fellow musicians, through her work. Featuring gritty, vulnerable lyrics and a old-school rock sensibility, Ward’s music draws in admirers from near (like L.A., her current home base) and far.

	+bigImage("LRW/collage1")

	p.fm-episode-quote &ldquo;I hope my music creates a safe place for everyone to feel fully with no shame attached … We’re all humans, we’re all allowed to feel every feeling, shamelessly ... .&rdquo;

	+bigImage("LRW/collage2") 

	+heroVideo("LRW/lrwCollage", "768")

	p.fm-episode-quote &ldquo;My fans are beautiful. They are a huge reason why I am feeling so good these days … Everything I do online is aimed towards connecting with those who understand and support me.&rdquo;

	+bigImage("LRW/collage3")