extends event.pug

block header
	+eventHeaderVideo("https://dm-us-imgs.s3.us-west-2.amazonaws.com/AW22/DMpresent/S3E6/_S3E5-TeaserVideo.mp4", "https://www.youtube.com/embed/ShDd-GwoEDs", "Dr. Martens Presents | Austin with The Linda Linda's and The Ghost Wolves")

block content
	+eventDescription("For our final DM Presents shows we focused on rhythm and raw talent. A sense of community was a part of every performance. PawPaw Rod brought friends from his home in Oklahoma, and They Hate Change performed in the middle of the crowd. Over at the Bowery Ballroom, we hit capacity, and fans of NNAMDÏ and Binki showed out and came in their freshest fits.")
	.fm-spacer
	+eventFeature('https://dm-us-imgs.s3.us-west-2.amazonaws.com/AW22/DMpresent/S3E6/Banner%201.jpg', 'Nnamdi belts out a song with his eyes closed, his right hand loosely holding the microphone to his mouth. His image is repeated three times in black and white, arranged in a triangular shape.', 'They Hate Change, Paw Paw Rod', 'Herald Square store', 'At our Herald Square store, a familiar face opened the show—singer-songwriter and producer, KeiyaA from last year’s installment of Celebrating Black Voices. They Hate Change took the spotlight after with their “Gulf Coast sound.” The duo, leapt into the crowd and performed alongside them. The hype continued as PawPaw Rod took the stage with a mix of soul and hip-hop. His high school friends joined from Oklahoma and fans sang along to every word, including TikTok hit, “HIT EM WHERE IT HURTS.” ')

	+bigImageOneSize("S3E6/Collage%201", 'A collage begins with Binki wearing a button-up shirt, tie, beanie, and sunglasses on stage. His arms are open wide and he looks to his right, his image illuminated by the warm yellow and red glow of stage lights.', "s3v4")

	+eventQuote("&ldquo;I think people should get as freaky as they can possibly get.&rdquo;", "— NNAMDÏ","")
	
	+eventFeature('https://dm-us-imgs.s3.us-west-2.amazonaws.com/AW22/DMpresent/S3E6/Banner%202.jpg', 'alt txt needed', 'NNAMDÏ, Binki', 'Bowery Ballroom', "If the show starts at 7pm, what time are you lining up? NNMADÏ and Binki fans gave it 5 hours just to be safe. Once doors opened, the legendary Bowery Ballroom filled up immediately. DJ Talia Goddess got the crowd going before NNMADÏ got on stage and captivated the room with a unique blend of indie rock, jazz, and hip-hop. Being his first ever with a live band, it was a special night for Binki and fans alike. He kept moving to his infectious electronic pop. ")

	+bigImageOneSize("S3E6/Collage%202", "A collage of images. At the top, the members of Momma are posing in front of a hedge. One member with long blond hair lifts their foot to show of the tread of their boot. Another image is a strip of pictures in the style of a photo booth showing someone walking towards the camera in sequence with her hands up acting shocked to be on the camera.", "s3v4")
	+bigImageOneSize("S3E6/Collage%203", "There's a quote from the Linda Lindas, &ldquo;You absolutely don't need anyone's permission to be who you are.&rdquo;", "s3v4")
	+bigImageOneSize("S3E6/Influencer%20Collage", "The final part of the collage shows a woman standing in front of a painted brick building on a street corner. She's wearing a red pant, carrying a black and white bag. She's wearing white platform laced Docs.", "s3v4")
	+ctaBtn('https://www.drmartens.com/us/en/icons', 'MAKE IT YOURS', 'SHOP ICONS')