extends episode.pug

block header
	+episodeHeaderVideo("S2E6/teaser", "653852878", "S2E6", "s3v3")
	+episodeDetails("2", "6", "Alternative Underground - NYC", "Explore the genre that can't be defined. Director Fredgy No&euml;l asks New York City's Alternative Underground scene about finding yourself within a community that values individuality.")

block content
	p.fm-episode-text There’s no singular sound of the Alternative Underground scene in New York City. It might even be a disservice to attempt to define the genre. The connective thread, instead, is shared experience. In this Dr. Martens Presents episode, Director Fredgy No&euml;l explores what it means to find yourself within a community that wholly celebrates identity and individuality. 
		cite Photos by Liz Maney

	+bigImageOneSize("S2E6/collage1", "Rainbow colored collage showing multiple images including streetlight, artist and boots with words \"Alternative to me is about wholeness.\" – Kimberly Drew", "s3v3")

	p.fm-episode-quote I wanted to create music that was for the people in my world to enjoy.
		cite &mdash; MX Kalif 

	+bigImageOneSize("S2E6/collage2", "Layered and brightly colored collage featuring portraits of various artists shown in feature film along with repeated images of one of them wearing Dr. Martens.", "s3v3")

	+heroVideo("S2E6/collageVideo", "768", "s3v3")

	p.fm-episode-quote It's about finding uniqueness within community&mdash; a sameness that doesn't devalue your own individuality.
		cite &mdash; Kimberly Drew 

	+bigImageOneSize("S2E6/collage3", "Layered collage with images of artists from film being distorted as if they had gotten caught in a printer and been stretched out vertically.", "s3v3")
