extends episode.pug

block header
	+episodeHeaderVideo("S2E5/teaser", "610205068", "S2E5", "s3v3")
	+episodeDetails("2", "5", "Latin X Indie - LA", "Film director Ambar Navarro illuminates the intentional path Latinx Indie artists across Los Angeles carved for themselves.")

block content
	p.fm-episode-text In a predominantly white industry, Latinx Indie artists are building a movement. Film director Ambar Navarro explores the cultural cross-pollination rooted in Chicano spirit and style that's brought long-deserved spotlight to artists of the sub-genre. As leaders of the genre reflect on their experiences, it's only a matter of time until these incredibly talented artists enter the mainstream.
		cite Photos by Kelsey Hart

	+bigImageOneSize("S2E5/collage1", "", "s3v3")

	p.fm-episode-quote &ldquo;Chicano culture is something that we try to reference, but elevate and move forward the style.&rdquo;
		cite &mdash; Avalon Lurks

	+bigImageOneSize("S2E5/collage2", "", "s3v3")

	+heroVideo("S2E5/collageVideo", "768", "s3v3")

	p.fm-episode-quote &ldquo;This kind of cultural cross-pollination&mdash; that's the spirit where a lot of the music i'm interested in comes from.&rdquo;
		cite &mdash; Alan Palomo, Neon Indian 

	+bigImageOneSize("S2E5/collage3", "", "s3v3")
