extends episode.pug

block header
	+episodeHeaderVideo("Orion/orionTeaser", "508520660", "OrionVideo")
	+episodeDetails("10", "Orion Sun", "Despite the dark early days of lockdown, singer, producer, and songwriter Orion Sun is finding the light by learning to live on her own terms.")

block content
	p.fm-episode-text Multi-instrumentalist Tiffany Majette performs as Orion Sun, and the celestial name mirrors her position as a rising star in the music industry. After losing her childhood home, Majette continued to write music even through her darkest moments and eventually, her music became the path to providing her family with a place to live. Orion Sun’s emotive voice and personal story of resilience create the intimate sound of her album Hold Space for Me.
		cite Photos by Alice Plati

	+bigImage("Orion/collage1", "A collage of photos featuring Orion Sun with lyrics from one of her songs written around her.")

	p.fm-episode-quote &ldquo;Even in my darkest moments, I can see something outside of my current circumstance.&rdquo;

	+bigImage("Orion/collage2", "A collage of photos featuring Orion Sun surrounded by cut out flowers, hand-drawn stars, a guitar, and a space helmet.") 

	p.fm-episode-quote &ldquo;I can't fix what's going on outside, but we can fix how we treat each other.&rdquo;

	+heroVideo("Orion/orionTeaserCollage", "768")

	p.fm-episode-quote &ldquo;I think it's always good to be hopeful.&rdquo;

	+bigImage("Orion/collage3", "A collage of photos featuring Orion Sun sitting in a cutout frame with hand-drawn stars around her.")
