extends episode.pug

block header
	+episodeHeaderVideo("S2E3/teaser", "638835234", "S2E3", "s3v2")
	+episodeDetails("2", "3", "Women In Punk - LA", "Director Ali Roberto takes punk's pulse. Hear from punk legends and fresh faces of the genre. As the women discuss their experiences, one thing remains certain: punk is forever.")

block content
	p.fm-episode-text Punk's not dead! The raw nature of the Los Angeles punk scene from the 70s and 80s has taken hold of the younger generation. Especially among younger minority women, who have no tolerance for racist, sexist boys. Their DIY ability to organize and implement change within their communities is as punk as it gets.

	+bigImageOneSize("S2E3/collage1", "A neon and harsh black & white themed collage featuring photos of punk women. The background repeats: Rebellious. Fast. Aggressive. Melodic. Poetic.", "s3v2")

	p.fm-episode-quote &ldquo;What I liked about punk rock was that it was so tangible, especially with me being a teenager. It was something that I felt like I could do and relate to.&rdquo;
		cite &mdash; Sade Sanchez, L.A. Witch

	+bigImageOneSize("S2E3/collage2", "A collage of photos and graphic elements in a punk style. Some photos are from modern day performances, others are from the artists growing up.", "s3v2")

	+heroVideo("S2E3/collageVideo", "768", "s3v2")

	p.fm-episode-quote &ldquo;Punk rock is an attitude and a behavior. It's music, but also a lot more than that.&rdquo;
		cite &mdash; Patty Schemel

	+bigImageOneSize("S2E3/collage3", "A collage prominently featuring Docs. Hands with black nail polish and eclectic rings point at the boots.", "s3v2")
