extends episode.pug

block header
	+episodeHeaderVideo("S2E3/teaser", "638835234", "S2E3", "s3v2")
	+episodeDetails("2", "3", "Women In Punk - LA", "Director Ali Roberto takes punk's pulse. Hear from punk legends and fresh faces of the genre. As the women discuss their experiences, one thing remains certain: punk is forever.")

block content
	p.fm-episode-text Punk's not dead! The raw nature of the Los Angeles punk scene from the 70s and 80s has taken hold of the younger generation. Especially among younger minority women, who have no tolerance for racist, sexist boys. Their DIY ability to organize and implement change within their communities is as punk as it gets.
		cite Photos by Emma Cole

	+bigImageOneSize("S2E3/collage1", "Collage showing headshots of members of The Lind Lindas, L.A. Witch and Backstage Pass with words 'Rebellious. Fast. Aggressive. Melodic. Poetic.' repeating 12 times behind the headshots.", "s3v2")

	p.fm-episode-quote &ldquo;What I liked about punk rock was that it was so tangible, especially with me being a teenager. It was something that I felt like I could do and relate to.&rdquo;
		cite &mdash; Sade Sanchez, L.A. Witch

	+bigImageOneSize("S2E3/collage2", "Collage with alternating vertical and horizontal strips creating a series of grids with band photos inside that showcase and celebrate each artist.", "s3v2")

	+heroVideo("S2E3/collageVideo", "768", "s3v2")

	p.fm-episode-quote &ldquo;Punk rock is an attitude and a behavior. It's music, but also a lot more than that.&rdquo;
		cite &mdash; Patty Schemel

	+bigImageOneSize("S2E3/collage3", "Large image showing The Linda Lindas feet and hands. Each member is wearing Dr. Martens. The image is flanked by a vertically repeating pattern of disco balls.", "s3v2")
