include video-mixins

block header

style
	include shared.css
	include home.css
	include episodeList.css

.fm-container
	.fm-hero
		.fm-hero-background
			.fm-hero-video
				video(loop autoplay muted playsinline)
					source(src=`https://dm-us-imgs.s3.amazonaws.com/AW21/L/DMPresents/S2E6/teaser.mp4` type="video/mp4")
			.fm-hero-fade
			.fm-hero-tear
		
		.fm-hero-content
			.fm-hero-title
				h1 Filmmaker Series
			
			.fm-hero-details
				h2 S2 E6 &bull; Alternative Underground - NYC 
				a.fm-hero-play(href="/us/en/dm-presents-alternative-underground-nyc") Watch Episode
	
	.fm-message.text-center
		span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
	#upcoming_events.eb-events-list
		h2 UPCOMING EVENTS
		.eb-event
	
	include episodeList.pug

script(type="text/javascript")
	include eventbrite.js
script(type="text/javascript")
	include home.js