extends episode.pug

block header
	+episodeHeaderVideo("Rosehardt/rosehardtTeaser", "465945242", "RosehardtVideo")
	+episodeDetails("4", "Rosehardt", "Caleb Eberhardt has always used his music to connect with others. Now, he’s working to use his platform and leave a legacy of social change.")

block content
	p.fm-episode-text Caleb Eberhardt, known muscially as Rosehardt, is a self-produced R&B/hip hop artist originally from San Francisco, CA. In addition to his work as a musician, Eberhardt works as an actor, most recently in HBO’s Betty and the upcoming Judas & The Black Messiah. In his debut solo album, Songs in the Key of Solitude, Rosehardt explores  seclusion and coming to peace with oneself–themes that could not feel more timely.
		cite Photos by Alice Plati

	+bigImage("Rosehardt/collage1")

	p.fm-episode-quote &ldquo;Storytelling is one of our most important basic human traits. I'm lucky to be able to make art that involves both art and music, and in such a crucial way.&rdquo;

	+bigImage("Rosehardt/collage2")

	+heroVideo("Rosehardt/rosehardtCollage", "768") 

	p.fm-episode-quote &ldquo;Everything. Love, despair, and everything in between.&rdquo;

	+bigImage("Rosehardt/collage3")