include video-mixins

block header

style
	include shared.css
	include home.css
	include episodeList.css

.fm-container
	.fm-hero
		.fm-hero-background
	.fm-message.text-center
		span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
	#upcoming_events.eb-events-list
		h2 UPCOMING EVENTS
		.eb-event
	
	include episodeList.pug

script(type="text/javascript")
	include eventbrite.js
script(type="text/javascript")
	include home.js