extends episode.pug

block header
	+heroVideo("465946680", "AliVideo", false)
	+episodeDetails("1", "1. Ali Roberto", "Director Alison Roberto takes a dive into the grit and passion of the LA music scene with her films, the product of a lifelong vision.")

block content
	p.fm-episode-text Alison Roberto had a plan as a kid: tell the stories of musicians and bands that resonate with her. It’s taken determination to get there, but core values like grit, authenticity, and passion are something she shares with hardworking L.A. musicians. These values are what always bring her back to music. 

	+bigImage("Alia/aliCollage1")

	p.fm-episode-quote &ldquo;Innovation and change come from tragedy and strife and everyone has had something to overcome this year.&rdquo;

	+bigImage("Alia/aliCollage2")

	img.fm-episode-big-image(src="https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Alia/aliCollage2.jpg" srcset="https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Alia/aliCollage2.jpg 1x, https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Alia/aliCollage2@2x.jpg 2x")

	p.fm-episode-quote &ldquo;Helping artists visually express themselves during this time has been beautiful. And also healing for me.&rdquo;

	+heroVideo("465051588", "AliCollageVideo", true)

	p.fm-episode-quote &ldquo;My crew are all multi-talented hybrid creatives like me, we are able to film with small crews and still achieve cinematic quality.&rdquo;

	+bigImage("Alia/aliCollage3")