extends episode.pug

block header
	+episodeHeaderVideo("Alia/aliTeaser", "465946680", "AliVideo")
	+episodeDetails("1", "Ali Roberto", "Director Alison Roberto takes a dive into the grit and passion of the LA music scene with her films, the product of a lifelong vision.")

block content
	p.fm-episode-text Alison Roberto had a plan as a kid: tell the stories of musicians and bands that resonate with her. It’s taken determination to get there, but core values like grit, authenticity, and passion are something she shares with hardworking L.A. musicians. These values are what always bring her back to music.
		cite Photos by Emma Cole

	+bigImage("Alia/aliCollage1", "A collage of photos featuring Ali in red and blue lighting highlighting her docs, seated by a wall of hanging art with the text \"Music Saved Me.\" Also showing Ali with graffiti and chainlink fences.")

	p.fm-episode-quote &ldquo;Innovation and change come from tragedy and strife and everyone has had something to overcome this year.&rdquo;

	+bigImage("Alia/aliCollage2", "A collage of photos featuring Ali in different poses and outfits on the street and in a home, highlighting her use of boots in creating street fashion") 

	p.fm-episode-quote &ldquo;Helping artists visually express themselves during this time has been beautiful. And also healing for me.&rdquo;

	+heroVideo("Alia/aliTeaserCollage", "1024")

	p.fm-episode-quote &ldquo;My crew are all multi-talented hybrid creatives like me, we are able to film with small crews and still achieve cinematic quality.&rdquo;

	+bigImage("Alia/aliCollage3", "A collage of photos featuring Ali's purple Doc Martens boots, purple highlights to accentuate the focus of the photo, and Ali holding a camera to take a picture")
