extends event.pug

block header
	+eventHeaderVideo("https://dm-us-imgs.s3.us-west-2.amazonaws.com/AW21/L/DMPresents/S3E3/chicago_event_02_teaser_1920x1080.mp4", "https://www.youtube.com/embed/b9t1-PHWh9s", "Dr. Martens Presents | CHICAGO MUSIC - Chicago, Illinois")

block content
	+eventDescription("The Dr. Martens Presents Tour headed to Chicago for two truly incredible shows. First we stopped at the historic Thalia Hall, where Child Seat, Finom and The Regrettes started the night with a line four blocks out the door and ended the night with an energetic encore. For the second show, we closed out Chicago with a sold out show at Dr. Martens Southport store. Lifeguard and Deeper played for an energetic, all-ages crowd – including some family and out-of-state fans. It’s always a party in Chicago, and we'll be back.")
	
	+eventFeature('https://dm-us-imgs.s3.us-west-2.amazonaws.com/AW21/L/DMPresents/S3E3/chi_event_02_01.jpg', 'A photo of the lead singer from The Regrettes jumping in the air with her microphone pointed at the cheering crowd below her.', 'The Regrettes, Finom & Child Seat', 'at Thalia Hall, Pilsen', "Dr. Martens Presents stopped in Chicago, for a free show at historic Thalia Hall. There was a line of eager fans four blocks long and the bands did not disappoint. Child Seat opened the show and got the crowd hyped. Front woman Maddy Mathews, commemorated their first show in Chicago by snapping a playful crowd selfie to send to her mom. After a lot of singing, dancing, and on-stage videos and photos—the crowd was in awe with Finom’s tight vocal harmonies that were almost hypnotic in their musical composition. The Regrettes worked the crowd with catchy songs and their effervescent front-woman Lydia Night who took to the drums for the group's encore.")

	+bigImageOneSize("S3E3/chi_event_02_02", "A collage of photos consisting of the lead singer from Child Seat singing into the microphone, fans cheering during the concert, the lead singer from The Regrettes singing into the microphone, fans looking dreamily at the stage, and the musicians from Finom.", "s3v2")

	+eventQuote("&ldquo;There’s so many amazing creative minds in Chicago. There’s just a lot happening here.&rdquo;", "— Macie Stewart, Finom","")
	
	+eventFeature('https://dm-us-imgs.s3.us-west-2.amazonaws.com/AW21/L/DMPresents/S3E3/chi_event_02_03.jpg', 'A collage of photos consisting of the band Lifeguard performing, a crowd swarming inside the Dr. Martens store, and a line of people standing outside the Dr. Martens store in Chicago.', 'Deeper & Lifeguard', 'at Doc Martens, Southport', "Dr. Martens Presents closed out Chicago with a show at Dr. Martens Southport store. Lifeguard and Deeper played for an energetic, all-ages crowd – including Lifeguard’s family and out-of-state fans. Deeper played songs from their triumphant album, Auto-Pain, and called out how happy they were to perform live on-stage after being in the studio working on new music.")

	+bigImageOneSize("S3E3/chi_event_02_04", "A collage of photos consisting of the lead singer from Deeper singing into the microphone, two young women embracing each other while watching the performance, a young man with dyed blonde hair and black splotches on his head talking to a young woman with dyed purple hair, and one of the band members from Lifeguard singing into the microphone while playing his guitar.", "s3v2")

	+eventQuote("&ldquo;The main thing is put your all into it, put your best foot forward, It’s high-quality here, because we lovingly expect a lot from each other.&rdquo;", "— Sima Cunningham, Finom","")

	.fm-spacer
	+bigImageOneSize("S3E3/chi_event_02_05", "A photo collage of social media influencers posing for the camera in Dr. Martens shoes. The first photo is of a young woman sitting down on a step outside of a building wearing a cream fur coat, black stockings, and a pair of black Dr. Martens oxford shoes. The second photo is a close up shot of a woman wearing jeans lacing up a pair of black Dr. Martens oxford shoes. The third photo is of a young woman leaning on a stair banister wearing a brown leather jacket, white top, black mini skirt, white leg warmers, and a pair of black Dr. Martens oxford shoes.", "s3v2")

	+bigImageOneSize("S3E3/chi_event_02_06", "A photo collage of social media influencers posing for the camera in Dr. Martens shoes. The first photo is of a young woman sitting down on a step outside of a building, with one of her legs raised and showing the sole of her Dr. Martens shoe. The second photo is a close up shot of a pair of black Dr. Martens oxford shoes and white leg warmers. The third photo is of a young woman sitting on a concrete staircase wearing a white tanktop blue jeans, and a pair of black Dr. Martens oxford shoes. The fourth photo is of a group of young women sitting down with legs outstretched next to a building, all wearing various models of black Dr. Martens shoes and boots.", "s3v2")
	
	+ctaBtn('https://www.drmartens.com/us/en/icons', 'MAKE IT YOURS', 'SHOP ICONS')