extends episode.pug

block header
	+episodeHeaderVideo("TheRegrettes/regrettesTeaser", "515410416", "RegrettesVideo")
	+episodeDetails("1", "11", "The Regrettes", "The Regrettes are looking within for inspiration and learning to let go as their non-stop touring lifestyle slows in the midst of lockdown.")

block content
	p.fm-episode-text Power-pop outfit The Regrettes hurtled into 2020 with a momentum unmatched by almost any other musical act out there. The young, powerful quartet found their voice in electrifying melodies, self-reflective lyrics, and a willingness to stand up for their beliefs (check out the charged single &ldquo;Poor Boy&rdquo;). With the huge sets the LA band had planned (think Coachella) on hold due to quarantine, the Regrettes are now adapting to a changing music scene.
		cite Photos by Emma Cole

	+bigImage("TheRegrettes/collage1", "A collage featuring The Regrettes leaning in close to each other with the quote, \"This past year made us more grateful than ever.\"")

	p.fm-episode-quote &ldquo;This past year made us more grateful than ever that we're able to connect through social media [with our fans] and that we still have continued support without touring.&rdquo;

	+bigImage("TheRegrettes/collage2", "A collage of photos featuring The Regrettes standing on a balcony together as well as in their studio playing music.") 

	+heroVideo("TheRegrettes/collageVideo", "768")

	p.fm-episode-quote &ldquo;I hope we can carry that empathy, compassion, and mutual support forward into the future whenever the world returns to &ldquo;normal.&rdquo; I hope it's a continuation into a better world.&rdquo;

	+bigImage("TheRegrettes/collage3", "A collage of photos featuring The Regrettes standing side-by-side in front of a wall and also heading inside at dusk.")
