extends episode.pug

block header
	+episodeHeaderVideo("Clay/clayTeaser", "479946239", "ClayVideo")
	+episodeDetails("1", "6", "Cautious Clay", "Music is the most natural form of expression for musician/producer Cautious Clay, who is using his art to navigate the turbulence of 2020.")

block content
	p.fm-episode-text Singer-songwriter Cautious Clay has been making music his whole life, but took the leap to be a musician full-time in 2018. Immediately, his unique fusion sound of alternative R&amp;B and pop caught the ears of listeners. Since then, he's been featured on Issa Rae's <em>Insecure</em>, gained critical praise for his EP <em>Blood Type</em>, and become a go-to collaborator for many high-profile music makers, such as John Legend and Taylor Swift. Now, Cautious Clay is working on his next project, an album expected in 2021.
		cite Photos by Alice Plati

	+bigImage("Clay/collage1", "A photo of Clay lounging on a bench overlaid with the words \"I'm gonna just do what I can to try to better myself and try to better the people around me.\"")

	p.fm-episode-quote &ldquo;Writing stories completely outside of the medium of music has been a way to strike up inspiration for the songs I'm currently working on.&rdquo;

	+bigImage("Clay/collage2", "A collage featuring photos of Clay appearing to reflect inward as he records music.")

	+heroVideo("Clay/clayCollage", "768") 

	p.fm-episode-quote &ldquo;Covid physically restricted where I could go and what I could do which in hindsight made me focus a lot more on my creative process as a whole.&rdquo;

	+bigImage("Clay/collage3", "A collage of photos of Clay in ordinary life situations, his emotions range from happy and relaxed to thoughtful.")
