extends episode.pug

block header
	+episodeHeaderVideo("Duendita/ss21-dmpresents-duendita-duenditaTeaser", "527328438", "DuenditaVideo")
	+episodeDetails("13", "duendita", "Brooklyn-based artist duendita uses her time in lockdown to find well-deserved rest and focuses on expressing her deepest self through her music.")

block content
	p.fm-episode-text Candace Camacho is an independent artist from Queens, NYC, who creates mesmerizing soul music as duendita. Her music provokes listeners to express themselves and begin journeys of purpose. Shaped by growing up in the classical music tradition, duendita blends themes of faith, dedication, and identity with live instrumentation and sampling in her vulnerable and haunting songs.
		cite Photos by Emma Cole 

	+bigImage("Duendita/ss21-dmpresents-duendita-collage1", "A collage of photos showing duendita in a garden with the text \"2020 showed me how important and rewarding it is to slow down\"")

	p.fm-episode-quote “In 2019, I lived completely out of a suitcase and traveled constantly for shows. It was unhealthy and I spiraled until I finally felt that I didn't belong anywhere in the world.”

	+bigImage("Duendita/ss21-dmpresents-duendita-collage2", "A collage of photos showing duendita in a garden, with recording equipment, highlighting her docs and outdoor recording")

	+heroVideo("Duendita/ss21-dmpresents-duendita-collageVideo", "768") 

	p.fm-episode-quote “I wear my Docs in the rain, snow, and when I go to the park to birdwatch, since I usually wander off the typical park path and into the forest.” 

	+bigImage("Duendita/ss21-dmpresents-duendita-collage3", "A collage of photos showing duendita with her recording equipment in her backyard.")
