extends event.pug

block header
	+eventHeaderVideo("https://dm-us-imgs.s3.us-west-2.amazonaws.com/AW21/L/DMPresents/S3E4/S3E3_H264_1920X1080.mp4", "https://www.youtube.com/embed/gR8t9ocwQnI", "Dr. Martens Presents |")

block content
	+eventDescription("Next stop on The Dr. Martens Presents Tour: New York. We started the show in the heart of Bushwick with Freakquencee and Big Freedia. 500 lucky fans (out of 5K RSVPs) showed up early and stayed late for a super high-energy dance party at Brooklyn Made. For our next stop, we headed to the Smith Street store. Control Top, Sorry Mom and Foyer Red played to a very special crowd, including mom to Sorry Mom vocalist. Per usual, New York will always have our heart.")
	.fm-spacer
	+eventFeature('https://dm-us-imgs.s3.us-west-2.amazonaws.com/AW21/L/DMPresents/S3E4/Banner_1.jpg', 'Big Freedia sings into the mic while performers shake their hips and butts on stage.', 'Big Freedia, Freakquencee', 'at Brooklyn Made', 'Genre-bending artist Freakquencee opened the show at Brooklyn Made with a full band of 13 people. This was much of the crowd’s introduction to Freakquencee, and it’s safe to say she left with hoards of new fans. Later, Big Freedia, her dancers and tons of fans took the stage, turning the energy up to 11. The Queen of Bounce also brought along a camera crew — so keep an eye out for exclusive footage of the night on the upcoming reality show "Big Freedia Means Business".')

	+bigImageOneSize("S3E4/Collage_1", 'Colorful collage showing Big Freedia dancers performing on stage, a portrait of Freakquencee staring seriously into the camera while wearing a fur coat along with smaller portraits of the crowd. This is overlaid by the quote, “To perform with Big Freedia, it’s an honor. To just have the two of our names on that bill really gives me a chance to show everybody in the room just what it is I can do and what leveling up actually looks like.” -Freakquencee. ', "s3v2")

	+eventQuote("&ldquo;Community is a big part of what I do and what I bring to the industry.&rdquo;", "— Big Freedia","")
	
	+eventFeature('https://dm-us-imgs.s3.us-west-2.amazonaws.com/AW21/L/DMPresents/S3E4/Banner_2.jpg', 'A triptych showing three photos of Ali Carter, from Control Top performing on stage in the retail space. In each photo, she is belting into the mic while playing guitar.', 'Sorry Mom & Control Top', 'at Dr. Martens, Smith St. Store', "For our next stop, we headed to the Smith Street store for a sweet, but loud show. In-between their numbers, Control Top spoke to the crowd about the importance of queer community. Sorry Mom vocalist brought her parents to the show, and her mom sang along to all the songs — a true fan. Foyer Red members collectively DJed the evening with nods to Fergie and Britney. The crowd skewed young; for many of them it was their first punk show ever. We were happy to bring them together.")

	+bigImageTwoSize("S3E4/Collage_2", "A collage showing the Sorry Mom performing in the retail space surrounded by various images of the excited crowd. The energy feels electric and exciting. Everyone is smiling, and there is frenetic energy in the photos of the band.", "s3v2")
	+bigImageOneSize("S3E4/Influencer_Collage", "Influencer @kalysse.a poses outside the venue, wearing a black coat with quilted geometric flowers, a shin-length black quilted skirt, tall white socks, and a pair of black oxfords. They stare confidently into the camera.", "s3v2")
	
	+ctaBtn('https://www.drmartens.com/us/en/icons', 'MAKE IT YOURS', 'SHOP ICONS')