include video-mixins
include svg-mixins

- var ali = { isNew: false, url: "/us/en/dm-presents-ali-roberto", relativePath: "Alia/aliTeaser", videoStart:"0.575", title: "1. Ali Roberto", description: "Director Alison Roberto takes a dive into the grit and passion of the LA music scene with her films, the product of a lifelong vision." }
- var gabe = { isNew: false, url: "/us/en/dm-presents-gabriel-gomez", relativePath: "Gabe/gabrielTeaser", videoStart:"4.05", title: "2. Gabriel Gomez", description: "NY Filmmaker Gabriel Gomez uses these unprecedented times to hone in on what matters to him and the musicians in his community." }
- var lrw = { isNew: true, url: "/us/en/dm-presents-lauren-ruth-ward", relativePath: "LRW/lrwTeaser", videoStart:"4.05", title: "3. Lauren Ruth Ward", description: "Lauren Ruth Ward is a musician, stylist, photographer, and more than the sum of her parts, seeking ways to connect without in-person shows." }
- var rosehardt = { isNew: true, url: "/us/en/dm-presents-rosehardt", relativePath: "Rosehardt/rosehardtTeaser", videoStart:"4.05", title: "4. Rosehardt", description: "Caleb Eberhardt has always used his music to connect with others. Now, he’s working to use his platform and leave a legacy of social change." }
- var episodes = [ali, gabe, lrw, rosehardt]

mixin episodeItem(episode)
	a.fm-episodes-item(href!=`${episode.url}`)
		.fm-episodes-item-main
			.fm-video-thumbnail
				+thumbnailVideo(episode.relativePath, episode.videoStart)
				.fm-video-thumbnail-play-icon
					svg(width="14" height="14")
						polygon(points="0,0,14,7,0,14" style="fill:#000;")
			.fm-episodes-item-title
				h3= episode.title
				if episode.isNew
					span.fm-video-thumbnail-new-tag new
		p= episode.description 

.fm-episodes
	h2 Episodes 

	.fm-episodes-collection 
		a.fm-episodes-prev(href="#")
			+svgLeftArrow()
		a.fm-episodes-next(href="#")
			+svgRightArrow()
		.fm-episodes-item-container
			each episode in episodes
				+episodeItem(episode) 
