include video-mixins
include svg-mixins

- var ali = { isNew: false, url: "/us/en/dm-presents-ali-roberto", relativePath: "Alia/aliTeaser", videoStart:"0.575", title: "1. Ali Roberto", description: "Director Alison Roberto takes a dive into the grit and passion of the LA music scene with her films, the product of a lifelong vision." }
- var gabe = { isNew: false, url: "/us/en/dm-presents-gabriel-gomez", relativePath: "Gabe/gabrielTeaser", videoStart:"4.05", title: "2. Gabriel Gomez", description: "NY Filmmaker Gabriel Gomez uses these unprecedented times to hone in on what matters to him and the musicians in his community." }
- var lrw = { isNew: false, url: "/us/en/dm-presents-lauren-ruth-ward", relativePath: "LRW/lrwTeaser", videoStart:"13.0", title: "3. Lauren Ruth Ward", description: "Lauren Ruth Ward is a musician, stylist, photographer, and more than the sum of her parts, seeking ways to connect without in-person shows." }
- var rosehardt = { isNew: false, url: "/us/en/dm-presents-rosehardt", relativePath: "Rosehardt/rosehardtTeaser", videoStart:"4.05", title: "4. Rosehardt", description: "Caleb Eberhardt has always used his music to connect with others. Now, he's working to use his platform and leave a legacy of social change." }
- var tolliver = { isNew: false, url: "/us/en/dm-presents-tolliver", relativePath: "Tolliver/tolliverTeaser", videoStart:"2.2", title: "5. Tolliver", description: "Los Angeles artist Tolliver uses his music to reconcile who he is today with his Baptist upbringing and childhood." }
- var clay = { isNew: false, url: "/us/en/dm-presents-cautious-clay", relativePath: "Clay/clayTeaser", videoStart:"0.0", title: "6. Cautious Clay", description: "Music is the most natural form of expression for musician/producer Cautious Clay, who is using his art to navigate the turbulence of 2020." }
- var blimesNGab = { isNew: false, url: "/us/en/dm-presents-blimes-n-gab", relativePath: "BlimesNGab/blimesNGabTeaser", videoStart:"15.0", title: "7. Blimes & Gab", description: "Blimes & Gab blended their unique styles to create <em>Talk About It</em>. Now, they're braving the highs and lows of releasing an album mid-pandemic." }
- var sunflower = { isNew: false, url: "/us/en/dm-presents-sunflower-bean", relativePath: "SunflowerBean/sunflowerTeaser", videoStart:"15.0", title: "8. Sunflower Bean", description: "Lifelong musicians and members of Sunflower Bean are leaning on each other, their music, and the politics of their art to continue creating." } 
- var nez = { isNew: false, url: "/us/en/dm-presents-nez", relativePath: "Nez/nezTeaser", videoStart:"0.0", title: "9. NEZ", description: "NEZ, Los Angeles-based music artist and producer, focuses on cultivating a creative space where he can express himself in the truest form possible." } 
- var orion = { isNew: false, url: "/us/en/dm-presents-orion-sun", relativePath: "Orion/orionTeaser", videoStart:"0.0", title: "10. Orion Sun", description: "Despite the dark early days of lockdown, singer, producer, and songwriter Orion Sun is finding the light by learning to live on her own terms." } 
- var regrettes = { isNew: true, url: "/us/en/dm-presents-the-regrettes", relativePath: "Regrettes/regrettesTeaser", videoStart:"0.0", title: "11. The Regrettes", description: "The Regrettes are looking within for inspiration and learning to let go as their non-stop touring lifestyle slows in the midst of lockdown." }

- var episodes = [ali, gabe, lrw, rosehardt, tolliver, clay, blimesNGab, sunflower, nez, orion, regrettes]

mixin episodeItem(episode)
	a.fm-episodes-item(href!=`${episode.url}`)
		.fm-episodes-item-main
			.fm-video-thumbnail
				+thumbnailVideo(episode.relativePath, episode.videoStart)
				.fm-video-thumbnail-play-icon
					svg(width="14" height="14")
						polygon(points="0,0,14,7,0,14" style="fill:#000;")
			.fm-episodes-item-title
				h3= episode.title
				if episode.isNew
					span.fm-video-thumbnail-new-tag new
		p!= episode.description 

.fm-episodes
	h2 Episodes 

	.fm-episodes-collection 
		a.fm-episodes-prev(href="#")
			+svgLeftArrow()
		a.fm-episodes-next(href="#")
			+svgRightArrow()
		.fm-episodes-item-container
			each episode in episodes
				+episodeItem(episode) 
