@font-face {
	font-family:"DrMartensHandwritingRounder"; 
	src: url("https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Elements/drMartensHandwritingRounder.woff") format("woff");
}

h1, h2 {
	margin: 0;
	font-family: "Trade Gothic Bold", trade-gothic-next-compressed, sans-serif;
}
		
h1 {
	font-size: 48px;
	text-transform: uppercase;
} 
	
h2 {
	font-size: 20px;
}

h3 {
	font-family: "Interstate Reg", interstate, sans-serif;
	font-size: 15px;
	font-weight: 800;
}

p { 
	line-height: 30px;
}

.dm-main {
	background-color: #000;
	color: #fff;
}

.fm-container {
	margin: 0px auto;
	width: 100%;
	background: #000;
	color: #fff;
	font-family: "Interstate Reg", interstate, sans-serif;
} 

.fm-hero-video {
	position: relative;
	width: 100%; 
	/* This padding assumes a 16:9 video, adjust accordingly */
	padding-bottom: 56.25%;
	overflow: hidden;
}
	.fm-hero-video iframe, 
	.fm-hero-video object, 
	.fm-hero-video embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%; 
		height: 100%;
		margin: 0px auto;
	} 

.fm-episode-details {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-image: url("https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Elements/ripDesktop.png"), linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0)), url("https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Elements/scratchyBackground@2x.jpg");
	background-size: contain, 100%, cover;
	/* NOTE(AJ): the position of the rip bg is set to 101% because 'bottom' sometimes caused a 1px gap 
		Short on time, so that's the fix for now. If you have a better idea, by all means. :) 
	*/
	background-position: 0 101%, top, center;
	background-repeat: no-repeat;
	padding: 30px 40px 100px;
	position: relative;
} 

.fm-title h1 {
	background: #000;
	color: #fff;
	display: inline-block; 
	padding: 8px 30px;
	margin: 0 auto 0 8px;
	width: auto;
	position: relative;
	left: -40px;
}

.fm-episode-details p {
	width: 45%;
}

.fm-episode-details h2 {
	padding: 10px 0 30px 0;
}

.fm-episode-text {
	margin: 150px auto 75px;
	width: 55%;
	max-width: 600px;
}

.fm-episode-quote {
	margin: 75px auto;
	padding: 0 5%;
	font-family: "DrMartensHandwritingRounder", serif;
	font-size: 40px;
	text-align: center;
	line-height: 48px;
	max-width: 800px;
}

img.fm-episode-big-image {
	width: 100%;

	/* TODO(AJ)[FIX]: This is a fix for some images uploaded to S3 with a white border
		Photoshop did me wrong. We can get rid of this when we do our next batch upload to S3
	*/
	outline: 3px solid #000;
	outline-offset: -3px;
	/* ENDFIX */
}

a.fm-episode-back {
	background-color: rgb(255, 230, 0);
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}

	.fm-episode-back svg {
		margin-right: 10px;
		overflow: visible;
		position: relative;
		top: 1px;
	}

	.fm-episode-back span {
		color: #000; 
		font-family: "Trade Gothic Bold", trade-gothic-next-compressed, sans-serif;
		font-size: 18px;
		letter-spacing: 0.05em; 
	}

.fm-episodes {
	margin: 150px 40px 75px;
}

	.fm-episodes h2{
		text-transform: uppercase;
		margin-bottom: 50px;
		height: 30px;
	}

	a.fm-video-thumbnail {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		min-width: 108px;
		min-height: 61px;
		padding-top: 56.26%;
		width: 100%;
		box-sizing: content-box;
	}

	.fm-video-thumbnail iframe, 
	.fm-video-thumbnail object,
	.fm-video-thumbnail embed {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 0;
	}

	.fm-video-thumbnail-new-tag {
		background-color: #fff;
		display: inline-block;
		font-family: "Trade Gothic Bold", trade-gothic-next-compressed, sans-serif; 
		font-size: 11px;
		font-weight: 700;
		text-transform: uppercase;
		color: rgb(25, 28, 29); 
		padding: 3px 5px; 
		position: absolute;
		top: 40px;
		left: 10px;
	}

	.fm-video-thumbnail-play-icon {
		background-color: rgb(255, 230, 0);
		border-radius: 25px;;
		width: 50px;
		height: 50px; 
		color: #000;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -25px 0px 0px -25px;
		z-index: 1;
	}
	
	.fm-video-thumbnail-play-icon svg {
		position: relative;
		left: 1px;
	}

	.fm-episodes-collection {
		display: flex;
		overflow: hidden;
		justify-content: start; 
	}

	.fm-episodes-item {
		margin-right: 20px;
		position: relative;
		max-width: 33%;
		flex-grow: 1;
	}

	.fm-episodes-item h3 {
		margin: 20px 0px 10px;
	}

	.fm-episodes-item p {
		color: rgb(168, 168, 168);
		font-size: 12px;
		line-height: 20px;
	}

@media screen and (min-width: 1440px) {

	.fm-episodes {
		margin: 150px auto; 
		padding: 0 40px;
		width: 1210px;
	}

	.fm-episode-details {
		padding: 30px 25% 160px;
	} 
}

@media screen and (max-width: 1440px) { 
	.fm-episode-details {
		padding: 30px 114px 100px;
	} 

	.fm-hero-content { 
		left: 50%;
		margin: 0px auto 0px -605px;
	}
	
	.fm-message {
		margin: 0px auto; 
		padding: 0px;
	} 
} 

@media screen and (max-width: 1290px) { 
	.fm-episode-details {
		padding: 30px 40px 100px;
	} 
}

@media screen and (max-width: 1024px) { 
	.fm-episode-details p {
		width: 55%;
	}
}

@media screen and (max-width: 768px) {

	.fm-title h1 {
		margin: 0px auto;
		padding: 8px 32px 8px 40px;
	}

	.fm-episode-details p {
		width: 100%;
	}

	.fm-episode-text {
		margin: 150px 32px 75px;
		max-width: none;
		width: initial;
	}

	.fm-episode-quote {
		font-size: 36px;
	} 

	.fm-episodes {
		margin: 150px 32px;
	}
}

@media screen and (max-width: 480px) {
	.fm-episode-details {
		padding: 30px 16px 100px; 
	}

	.fm-episode-text {
		margin: 125px 16px 75px;
	}

	.fm-episodes-item {
		max-width: none;
	} 
} 


@media screen and (max-width: 375px) {
	h1 {
		font-size: 36px;
	}

	.fm-episodes {
		margin: 100px 32px 150px;
	}

	.fm-episodes h2 {
		margin-bottom: 40px;
	}

	.fm-episodes-collection {
		flex-direction: column;
	}

	a.fm-video-thumbnail {
		width: 108px;
		height: 61px;
		margin-right: 10px;
		padding-top: 0px;
	}

	.fm-episodes-item {
		border-bottom: 1px solid rgb(25, 28, 29); 
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-right: 16px;
		max-width: 100%;
		padding: 20px 0;
	} 

	.fm-episodes-item-title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	} 

	.fm-episodes-item h3 {
		margin: -6px 0px 8px;
	}

	.fm-episodes-item p {
		margin-bottom: 0px;
	}

	.fm-video-thumbnail-new-tag {
		position: static;
	}

	.fm-episodes-item-main {
		display: flex;
		flex-direction: row;
		margin-bottom: 10px;
	}

	.fm-video-thumbnail-play-icon { 
		width: 34px;
		height: 34px;
	}

} 


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 
	.fm-hero-tear {
		background-image: url("https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Elements/ripDesktop@2x.png");
	}

	@media screen and (max-width: 480px) {
		.fm-episode-details {
			background-image: url("https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Elements/ripMobile@2x.png"), linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0)), url("https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Elements/scratchyBackground@3x.jpg");
		}
	}
}