.fm-episodes {
	margin: 150px 40px 130px;
	position: relative;
	z-index: 0;
}
	.fm-episodes a:hover {
		text-decoration: none;
	}

	.fm-episodes h2, .fm-episodes h3{
		text-transform: uppercase;
		margin-bottom: 30px;
		height: 30px;
	}

	.fm-video-thumbnail {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin-bottom: 25px;
	}

	.fm-video-thumbnail video {
		width: 100%;
	}

	.fm-video-thumbnail-new-tag {
		background-color: #fff;
		display: inline-block;
		font-family: "Overpass", "Interstate Reg", sans-serif; 
		font-size: 11px;
		font-weight: normal;
		text-transform: uppercase;
		color: rgb(25, 28, 29); 
		padding: 3px 5px; 
		position: absolute;
		top: 10px;
		left: 10px;
	}

	.fm-video-thumbnail-play-icon {
		background-color: rgb(255, 230, 0);
		border-radius: 25px;;
		width: 50px;
		height: 50px; 
		color: #000;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -25px 0px 0px -25px;
		z-index: 1;
	}
	
	.fm-video-thumbnail-play-icon svg {
		position: relative;
		left: 1px;
	}

	.fm-episodes-selector {
		display: flex;
	}

		.fm-episodes-selector h3 {
			cursor: pointer;
			font-family: "Oswald", "Trade Gothic Bold", sans-serif; 
			font-weight: 400;
		}

		.fm-episodes-selector h3:not(last-child) {
			margin-right: 30px;
		}

		.fm-episodes-selector h3.active {
			padding-bottom: 4px;
			border-bottom: 3px solid rgb(255, 230, 0);
		}

	.fm-episodes-collection {
		overflow: hidden;
		width: 100%;
	}

	a.fm-episodes-n, a.fm-episodes-p{
		width: 42px;
		height: 48px;
		position: fixed;
		top: 150px;
		background: rgb(242, 242, 249); 
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
	} 
		a.fm-episodes-n svg, a.fm-episodes-p svg {
			overflow: visible;
		} 

	.fm-episodes-hug {
		display: inline-flex;
		position: relative;
	}

	/* TODO(AJ): Remove on S2E1, this is a patch to make the trailer look correct in the episode list */
	.fm-episodes-hug[data-season="2"] .fm-episode {
		flex-basis: 33%;
	}

	.fm-episode {
		cursor: pointer;
		display: inline-block;
		margin-right: 20px;
		position: relative;
		/* flex-grow: 1; */ /* Removed because it caused problems, may need to add back in */
		min-width: 390px;
	}

	.fm-episode:last-child {
		margin-right: 0;
	}

	.fm-episode h3 {
		color: #fff;
		margin: -8px 0px 10px; 
	}

	.fm-episode p {
		color: rgb(168, 168, 168);
		font-size: 12px;
		line-height: 20px;
	} 

	a.fm-episode:hover p {
		color: rgb(168, 168, 168);
		text-decoration: none;
	}
	a.fm-episode:hover h3 {
		color: #fff;
		text-decoration: none;
	}

@media screen and (min-width: 1441px) {
	.fm-episodes {
		width: 1210px;
		margin: 150px auto 130px; 
	} 
} 

@media screen and (max-width: 1440px) {
	.fm-episode {
		min-width: calc(33.33vw - 46px);
	}
} 

@media screen and (max-width: 768px) { 

	.fm-episodes {
		margin: 150px 32px 130px;
	} 

	.fm-episode {
		min-width: calc(50vw - 50px);
	}
} 
@media screen and (max-width: 480px) { 
	a.fm-episodes-n {
		top: 27% !important;
		position: absolute;
		right: 0;
		left: unset !important;
		z-index: 9999;
	}
	a.fm-episodes-p {
		top: 27% !important;
		position: absolute;
		left: 0 !important;
		z-index: 9999;
	}
	.fm-episode {
		width: 50vw;
		min-width: 285px;
		margin-right: 7px;
	}
	.fm-episodes {
		margin: 150px 16px 130px;
	} 
} 