include video-mixins
include svg-mixins

- var s3e1 = { season: 3, isNew: false, url: "/us/en/dm-presents-september-la", relativePath: "S3E2/la_event_01_teaser_1920x1080", videoStart:"0", title: "Latin Heritage - silverlake, LA", description: "For our first Dr. Martens Presents Tour stop in L.A., folx filled every corner of Dr. Martens Silverlake. Doris Anahí’s voice filled the room and carried out into the streets. She spoke about her family’s love of music and her uncle joined her in a song that had everyone singing along with tears in their eyes.", backend: "s3v3" }
- var s3e2 = { season: 3, isNew: false, url: "/us/en/dm-presents-october-chicago", relativePath: "S3E3/chicago_event_02_teaser_1920x1080", videoStart:"0", title: "CHICAGO MUSIC - Pilsen, Chicago", description: "For our next stop on The Dr. Martens Presents Tour, we touched down in Chicago. Folx brought the raddest, most electric energy for our artists — we’re talking lines four blocks long, encores, out of state fans and family members in attendance. Child Seat and The Regrettes killed it at the historic Thalia Hall, and bands Lifeguard and Deeper sold out the Dr. Martens Southport store. These were shows we won’t soon forget.", backend: "s3v3" }


- var season3 = { number: 3, events: [s3e2, s3e1]}
- var seasons = [season3]

mixin eventItem(event)
	.fm-event(data-href!=`${event.url}`)
		.fm-event-main
			.fm-video-thumbnail.fm-event-thumbnail
				if event.season == 1
					+thumbnailVideo(event.relativePath, event.videoStart)
				else if event.backend
					+thumbnailVideo(event.relativePath, event.videoStart, event.backend)
				else
					+thumbnailVideo(event.relativePath, event.videoStart, "s3v2")
				.fm-video-thumbnail-play-icon
					svg(width="14" height="14")
						polygon(points="0,0,14,7,0,14" style="fill:#000;")
			.fm-event-title
				h3= event.title
				if event.isNew
					span.fm-video-thumbnail-new-tag new
		p!= event.description 


		
.fm-events
	.fm-events-header
		h2 Live Events Series
	.fm-events-collection
		a.fm-events-p(href="#")
			+svgLeftArrow()
		a.fm-events-n(href="#")
			+svgRightArrow()
		each season in seasons
			.fm-event-hug
				each event in season.events
					+eventItem(event) 
script(type="text/javascript")
	include eventList.js