.fm-hero {
	position: relative;
	margin-bottom: 50px;
	min-height: 400px;
}

.fm-hero-background {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
	max-height: 576px;
}
	.fm-hero-video {
		position: relative;
		width: 100%; 
		/* This padding assumes a 16:9 video, adjust accordingly */
		padding-bottom: 56.25%;
		overflow: hidden;
		z-index: 0;
	}
		.fm-hero-video video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%; 
			height: 100%;
			min-width: 711px;
			z-index: 0;
			margin: 0px auto;
		} 

	.fm-hero-tear {
		position: absolute;
		background-image: url("https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Elements/ripDesktop.png");
		background-size: 100%;
		background-position: bottom;
		background-repeat: no-repeat;
		left: 0px;
		bottom: 0px;;
		z-index: 2;
		width: 100%;
		height: 100%;
		image-rendering: crisp-edges;
		image-rendering: -moz-crisp-edges;
		image-rendering: -webkit-optimize-contrast;
	}

	.fm-hero-fade {
		position: absolute;
		z-index: 1;
		background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 255));
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom, top;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

.fm-hero-content {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: column;
	top: 0;
	left: 0;
}

	.fm-hero h1 {
		background: #000;
		color: #fff;
		display: inline-block; 
		padding: 8px 32px;
		margin: 0 auto 0 8px;
		width: auto;
	}

	.fm-hero-details {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px 40px;
		margin-bottom: 40px;
	}

		.fm-hero-details h2 {
			display: inline-block;
			margin-top: 10px;
			height: 30px;
		}

		a.fm-hero-play {
			background: rgb(255, 230, 0);
			text-decoration: none;
			color: #000;
			display: block;
			font-family: "Oswald", "Trade Gothic Bold", sans-serif;
			font-size: 18px;
			text-transform: uppercase;
			padding: 10px 30px;
			margin-top: 30px;
		}


.fm-message, .eb-events-list {
	padding-left: 40px;
	font-size: 16px;
	line-height: 28px;
	width: 50%;
	font-family: "Overpass", "Interstate Reg", sans-serif;
} 

@media screen and (min-width: 2440px) { 
	.fm-hero-tear {
		background-image: url("https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Elements/ripDesktop@2x.png");
	}
}

@media screen and (min-width: 1440px) {
	.fm-hero-content,
	.fm-message, 
	.eb-events-list {
		width: 1210px;
		margin: 150px auto 130px; 
	} 

	.fm-message span, .eb-events-list span {
		display: inline-block;
		width: 492px;
	}
	.fm-hero-content { 
		left: 50%;
		margin: 0px auto 0px -642px;
	}
	
	.fm-message, .eb-events-list {
		margin: 0px auto; 
		padding: 0px;
	} 
} 

@media screen and (max-width: 768px) {

	.fm-hero-background {
		position: absolute;
	}

	.fm-hero-video {
		left: -25%;
		width: 150%;
	}

	.fm-hero h1 {
		margin: 0px auto;
		padding: 8px 32px 8px 40px;
	}

	.fm-message {
		width: 57%;
	} 
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 36px;
	}

	.fm-message {
		padding: 0px 32px;
		width: 100%;
	} 

	.fm-hero-details {
		padding: 0 32px;
	}

	.fm-hero h1 {
		padding: 8px 32px;
	}

	.fm-hero-tear {
		background-image: url("https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Elements/ripMobile.png");
	} 
} 


@media screen and (max-width: 375px) { 
	a.fm-hero-play {
		margin-top: 20px;
	}

	.fm-hero-details h3 {
		margin-top: 6px;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 
	.fm-hero-tear {
		background-image: url("https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Elements/ripDesktop@2x.png");
	}

	@media screen and (max-width: 480px) {
		.fm-hero-tear {
			background-image: url("https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Elements/ripMobile@2x.png");
		}
	}
}