.fm-hero {
	position: relative;
	margin-bottom: 50px;
	min-height: 400px;
}

.fm-hero-background {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
	max-height: 576px;
}
.fm-hero {
    background-image: url(assets/mobile-header.png);
    background-size: cover;
    aspect-ratio: 4/5;
}
		a.fm-hero-play {
			background: rgb(255, 230, 0);
			text-decoration: none;
			color: #000;
			display: block;
			font-family: "Oswald", "Trade Gothic Bold", sans-serif;
			font-size: 18px;
			text-transform: uppercase;
			padding: 10px 30px;
			margin-top: 30px;
		}
		.fm-message {
			font-size: 17px;
		} 
.fm-message, .eb-events-list {
	padding-left: 40px;
	padding-right: 40px;
	font-size: 16px;
	line-height: 28px;
	font-family: "Overpass", "Interstate Reg", sans-serif;
	margin-bottom: 100px;
} 
.eb-events-list h2 {
	margin-bottom: 40px;
}
.eb-events-list .eb-event .event-image {
	padding-bottom: 20px;
}
.eb-events-list .eb-event .event-image img {
    max-width: 100%;
}
.eb-events-list .eb-event {
    width: 100%;
	line-height: 1;
}
.eb-events-list .eb-event .event-content {
    flex-basis: 80%;
	padding-right: 10px;
}

.eb-events-list .eb-event .event-content h3 {
	font-size: 17px;
	margin-bottom: 12px;
	line-height: 1.875;
}
.eb-events-list .eb-event .event-meta {
    flex-basis: 20%;
	line-height: 1;
	padding-left: 10px;
}
.eb-events-list .eb-event .event-meta h3 {
	font-weight: 900;
}
.eb-events-list .eb-event .event-meta h1 {
	margin-bottom: 12px;
}
.eb-events-list .eb-event .event-content p {
	font-size: 15px;
	line-height: 1.875;
}
.eb-events-list .eb-event .event-content p, .eb-events-list .eb-event .event-meta span{
    margin-bottom: 12px;
    color: #a8a8a8;
}
.eb-events-list .eb-event .event-meta span{
    font-size: 12px;
    line-height: 1.67;
}
.eb-events-list .eb-event + hr {
    margin: 20px 0 40px;
    border: none;
    border-top: 1px solid #191c1d;
}
.eb-events-list .eb-event .event-cta {
    position: relative;
    color: #ffe512;
    line-height: 1.33;
    transition: color 0.15s ease;
	font-family: "Oswald", "Trade Gothic Bold", sans-serif; 
	text-transform: uppercase;
}
.eb-events-list .eb-event .event-cta:after {
    content:
    '';
    width:100%;
    height:1px;
    position:
    absolute;
    left:0;
    top: 100%;
    display: block;border-bottom:1px solid;
}
.eb-events-list .eb-event a.event-cta:hover {
    color: white;
}
.eb-hidden {
	display: none !important;
}
.eb-shown.eb-hidden {
	display: block !important;
}
.eb-events-list a.fm-hero-play {
    margin-left: auto;
    width: fit-content;
    margin-right: auto;
}

.eb-events-list .eb-event .event-content p:first-of-type {
	margin-bottom: 0px;
}
@media screen and (min-width: 2440px) { 
	.fm-hero-tear {
		background-image: url("https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Elements/ripDesktop@2x.png");
	}
}

@media screen and (min-width: 1440px) {
	.fm-hero-content,
	.fm-message, 
	.eb-events-list {
		width: 1210px;
		margin: 150px auto 130px; 
	} 
	
	.fm-message {
		font-size: 17px;
		margin-bottom: 230px;
	}

	.fm-message span, .eb-events-list span {
		display: inline-block;
		width: 492px;
	}
	.fm-hero-content { 
		left: 50%;
		margin: 0px auto 0px -642px;
	}
	
	.fm-message, .eb-events-list {
		margin: 0px auto; 
		padding: 0px;
	} 
} 

@media screen and (min-width: 768px) {
	.fm-hero {
		background-image: url(assets/header.png);
		aspect-ratio: 2/1;
		margin-bottom: 75px;
	}
	.fm-message {
		font-size: 17px;
		margin-bottom: 150px;
		width: 524px;
	}
	.fm-message, .eb-events-list {
		padding-left: 122px;
		padding-right: 122px;
	}
}
@media screen and (min-width: 1024px) {
	.fm-message {
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
		width: 524px;
	}
	.eb-events-list .eb-event + hr {
		margin-bottom: 22px;
	}
	.eb-events-list .eb-event .event-content p {
	}
    .eb-events-list .eb-event {
        display:flex;
    }
    .eb-events-list .eb-event .event-image {
        padding-right: 23px;
		padding-bottom: 0px;
		flex-basis:33%;
    }
    .eb-events-list .eb-event .event-details {
        flex-basis: 77%;
    }
}

@media screen and (min-width: 1290px) {
	.fm-message {
		width: 800px;
	}
}
@media screen and (max-width: 768px) {

	.fm-hero-background {
		position: absolute;
	}

	.fm-hero-video {
		left: -25%;
		width: 150%;
	}

	.fm-hero h1 {
		margin: 0px auto;
		padding: 8px 32px 8px 40px;
	}

	.fm-message {
		width: 57%;
	} 
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 36px;
	}

	.fm-message {
		padding: 0px 32px;
		width: 100%;
	} 

	.fm-hero-details {
		padding: 0 32px;
	}

	.fm-hero h1 {
		padding: 8px 32px;
	}

	.fm-hero-tear {
		background-image: url("https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Elements/ripMobile.png");
	} 
} 


@media screen and (max-width: 375px) { 
	a.fm-hero-play {
		margin-top: 20px;
	}

	.fm-hero-details h3 {
		margin-top: 6px;
	}
}
.event-details {
	display: flex;
    align-items: center;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 
	.fm-hero-tear {
		background-image: url("https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Elements/ripDesktop@2x.png");
	}

	@media screen and (max-width: 480px) {
		.fm-hero-tear {
			background-image: url("https://dm-us-imgs.s3.amazonaws.com/AW20/L/Supply%20DM%20Presents/Elements/ripMobile@2x.png");
		}
	}
}