mixin svgLeftArrow()
	svg(width="9" height="17")
		polyline(points="9,0,0,8.5,9,17" style="stroke:#000;fill:transparent;stroke-width:4px;")

mixin svgRightArrow()
	svg(width="9" height="17")
		polyline(points="0,0,9,8.5,0,17" style="stroke:#000;fill:transparent;stroke-width:4px;")

mixin bigPlayButton()
	.fm-big-play-button
		svg(width="18" height="18")
			polygon(points="0,0,18,9,0,18" style="fill:#000;")